<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Start Mui boilerplate code - used for mui css -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- load MUI -->
      <link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/css" />
      <script src="//cdn.muicss.com/mui-0.9.39/js/mui.min.js"></script>
      <!-- End mui boilerplate code -->
  <title>Race Results</title></head>
  <link rel="stylesheet" type="text/css" href="df_style.css"/>
  </head>
  <body>
      <div class="mui-panel">Steve
        <button class="mui-btn mui-btn--raised"><a href="myresults">Sort by Date</a></a> </button>
        <button class="mui-btn mui-btn--raised"><a href="mypaceresults">Sort by Pace</a> </button>
    </div>
    <hr>
{% block content %}
{%  endblock content %}
</body>
</html>